.name-design{
    background-color: rgb(247, 93, 116);
    border-radius: 10px;
    border: 1px solid forestgreen;
    padding: 5px;
    text-align: left;
    
}
.cart{
    background-color: rgb(92, 201, 238);
    border-radius: 10px;
    border: 1px sold wheat;
    padding: 10px;
    text-align: center;
}