.image{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.background-color{
    background-color:rgb(220, 247, 247);
    border-radius: 10px;
    border: 1px solid steelblue;
    margin: 10px;
    padding: 10px;
    text-align: center;
    
    
    
}
.purchage-button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    
}